.body{
  font-family: 'Lato', sans-serif;

}

.grid-container{


}
.div {
    border: 2px solid black;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 35%;
    margin-left: 35%;
    background-color: lightblue;

}
  .left{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

   }
  .right{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid black;
  }


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px;
  background-color: #2196F3;
  padding: 1px;
  width: 1100px;
}
.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding:10px;
  font-size: 14px;


}

h1{
  font-size: 26px;
  line-height: 30px;
  text-align: left;
  color: black
  margin-left: 30px;

}

h2{
  font-size: 20px;
  line-height: 22px;
  grid-column-start:
}

p{
  font-size: 14px;
  line-height: 20px;
  margin: 10px;
  color: black
}
.item1 {
  grid-column: 1 / span 1;
  height: 75px;
}

.item2 {
  grid-column: 2 / span 2;
  height: 75px;
}

.item3 {
  grid-column: 1 / span 2;
  height: 385px;
  background-image: url(img/banner_bg.png);

}
.item4 {
  grid-column: 3 / span 1;
  background-image: url(img/banner_bg.png);
}
.item5 {
  grid-column: 1 / span 1;

}
.item6 {
  grid-column: 2 / span 1;

}
.item7 {
  grid-column: 3 / span 1;

}
.item8 {
  grid-column: 1 / span 3;
  background-image: url(img/footer_bg.png)
}
